* {
    margin: 0;
    padding: 0;
    /* background-color: #141414; */
    font-family: "Poppins";

}



.moviecard-box {
    margin: 2vh 1vh;
    width: fit-content;
    max-height: fit-content;
    background-color: #141414;
    border-radius: 10px;
    cursor: pointer;

}

.moviecard-box:hover {
    opacity: 0.9;
}

.moviecard-img-box {
    position: relative;

}

.moviecard-img {
    width: fit-content;
    height: 25vh;
    border-radius: 10px;
}

@media only screen and (max-width:768px) {

    .moviecard-img {
        height: 15vh;
    }

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .moviecard-img {
        height: 20vh;
    }

}